body {
    padding-top: 50px;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
	padding-right: 40px;
	padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Affix
 */

.affix-top,.affix{
    position: static;
    margin-top: 20px;
}

@media (min-width: 979px) {
    .affix-top {
	position: static;
	width:228px;
    }
    
    .affix {
	position: fixed;
	width:228px;
    }
}

#status {
    overflow-x: hidden;
}


/*
 * Data Source Modal
 */

#dsModal .panel-group {
    max-height: 500px;
    overflow-x: hide;
    overflow-y: auto;
}

.panel-heading:hover {
    cursor: pointer;
    cursor: hand;
}

.filter {
    margin-bottom: 10px;
}

/*
 * Utilities
 */

.disabled {
    pointer-events: none;
}

.badge {
    margin-left: 5px;
}

/*
 * Loader
 * http://codepen.io/collection/HtAne/
 */
.loader {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.loader .cube {
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.loader .cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.loader .cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2BA0C7;
    -webkit-animation: foldthecube 2.4s infinite linear both;
    animation: foldthecube 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.loader .c2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.loader .c3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.loader .c4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.loader .c2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.loader .c3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.loader .c4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes foldthecube {
    0%, 10% {
	-webkit-transform: perspective(140px) rotateX(-180deg);
	transform: perspective(140px) rotateX(-180deg);
	opacity: 0;
    }
    25%,
    75% {
	-webkit-transform: perspective(140px) rotateX(0deg);
	transform: perspective(140px) rotateX(0deg);
	opacity: 1;
    }
    90%,
    100% {
	-webkit-transform: perspective(140px) rotateY(180deg);
	transform: perspective(140px) rotateY(180deg);
	opacity: 0;
    }
}
@keyframes foldthecube {
    0%, 10% {
	-webkit-transform: perspective(140px) rotateX(-180deg);
	transform: perspective(140px) rotateX(-180deg);
	opacity: 0;
    }
    25%,
    75% {
	-webkit-transform: perspective(140px) rotateX(0deg);
	transform: perspective(140px) rotateX(0deg);
	opacity: 1;
    }
    90%,
    100% {
	-webkit-transform: perspective(140px) rotateY(180deg);
	transform: perspective(140px) rotateY(180deg);
	opacity: 0;
    }
}

/*
 * gridster css
 *
 */
.gridster * {
  
  padding:0;
}


/*body {
    font-size: 15px;
    margin: 30px 30px;
}*/   

.gridster > ul {
    position: initial;
    list-style-type: none;
    background-color: #FFFFFF;
    width: 100% !important;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
    display: inline;
}


.gridster {
    width: 100%;
    margin: 10px auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #f7f7f7;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

/*
 * customized widget dropdown button
 */
.inWigBtn{
    height: 30px;
    background-color: #CCC9C9;
    margin-bottom: 8px;
}

.btnChart{
    float:left;
    margin: 5px 5px 5px 10px;
}

.btnMetric{
    float:right;
    margin: 5px 2px 5px 5px;
}

.btnThread{
    float:right;
    margin: 5px 5px 5px 2px;
}

.inWigBtn ul.dropdown-menu{
    min-width: 20px;
    z-index: 999;
}

/*
 * placeholder to locate button
 *
*/
.pie{

}
.bubble{

}
.donut{
    
}

/*
 * adjust z-index of four widgets
 *
*/
.front{
    z-index: 10 !important;
}

.behind{
    z-index: 2 !important;
}



