html {
  overflow-y: scroll;
}

body {
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     font-size: 75%;
}

h1 {
    color: #A7C942;
}
 
h3#sechead {
    text-align: center;
}

table {
    width: 100%;
    /* table-layout: fixed; */
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
    word-wrap: break-word;
}

th {
    background-color: #A7C942;
    color: white;
}

.alt {
    background-color: #EAF2D3;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #FF704D;
    text-decoration: underline;
}

/* menu bar */
ul.OptionList {
    list-style-type: none;
    margin: 0 10px 0 0;
    padding: 0;
    height: 150px;
    border-radius: 5px;
    border: 2px solid #8AC007;
    padding: 7px;
    overflow: auto;
}

ul.OptionList li {
    padding: 3px 7px 2px 7px;
}

ul.OptionList li:not(.head):hover {
    color: white;
    background-color: green;
    cursor: pointer;
}

ul.OptionList li.head:hover {
    cursor: pointer;
}

ul.OptionList li.head {
    background-color: #98bf21;
}

ul.OptionList li.head input {
    border-radius: 7px;
    padding: 0 3px 1px 3px;
    min-width: 60px;
    max-width: 300px;
    float: right;
}

ul.OptionList li.active {
    color: white;
    background-color: green;
}


div#top {
    overflow: auto;
}

div#detail {
    clear: both;
    width: 100%;
    padding: 10px 0;
    overflow: auto;
}

div#application {
    float: left;
    width: 200px;
}

div#trial {
    float: left;
    width: 200px;
}

div#metric {
    /*clear: both;*/
    float: left;
    width: 200px;
}

div#thread {
    float: left;
    width: 200px;
}

div#metadata {
    clear: both;
    float: left;
    width: 100%;
    height: 100px;
    overflow: auto;
}

div#metadata table {
    clear: both;
    width: 100%;
}


div#timerheader {
    clear: both;
    background-color: #98bf21;
    width: 400px;
    float: left;
}

div#timerheader table, td, tr {
    border-color: white;
    border-radius: 7px;
    padding: 0 3px 1px 3px;
    border-width: 1px;
    border-color: white;
}

div#timerheader td.head {
    font-weight: bold;
    font-size: 1.2em;
}

div#timer {
    clear:both;
    width: 400px;
    max-height: 400px;
    float: left;
    overflow: auto;
}

div#timer table {
    width: 100%;
    table-layout: fixed;
}

div#timer tr:nth-child(even) {
    background-color: #EAF2D3;
}

div#graphheader {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

div#graph {
    margin-left: 10px;
    width: 350px;
    float: left;
}

div.head {
    margin: 5px 20px 0 0;
}

input {
    box-sizing: border-box;
    outline: 0;
}

input.txt {
    border-radius: 10px;
    background-color: #98BF21;
    border: 1px solid #98BF21;
    padding: 3px 7px 2px 7px;
    width: 100%;
    height: 25px;
    font-size: 15px;
}

input.txt:hover {
    cursor: pointer;
}

input.txt:focus {
    background-color: white;
}

canvas {
    width: 600px;
    height: 400px;
}